doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Alarm Settings
		link(rel='stylesheet', href='css/foundation.min.css')
		link(rel='stylesheet', href='css/app.css')
		link(href='/account.css', rel='stylesheet')
		link(rel='stylesheet' href='css/app.css')
	 	
		body.bg
			
			nav#mySidenav.w3-sidenav.w3-white.w3-card-2(style='display:none')
				ul.w3-closenav.w3-large(href='javascript:void(0)', onclick='w3_close()') Close ×
					li
						a(href='http://localhost:8000/settings') Change Password
					li
						a(href='#') Last Login {show time}
			header.w3-container.w3-teal
				span.w3-opennav.w3-xlarge(onclick='w3_open()') 
					img(src='/img/menu.png')

			div.row
				div.large-2.columns
					h2 Test
					p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				div.large-8.columns
					.loader.float-center
						#display
							#date
							#time
							#weekdays
					.spinner
					.spinner2
	
				div.large-2.columns
					h2 Test
					p| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					
				


			script(type='text/javascript', src='/jquery-3.1.1.min.js')
			
			script(type='text/javascript', src='/account.js')
			
			script(type='text/javascript', src='/js/vendor/foundation.min.js')
		
			script.
				function w3_open() {
				document.getElementById("mySidenav").style.display = "block";
				}
				function w3_close() {
				document.getElementById("mySidenav").style.display = "none";
				}
