doctype html
html
	head
		title Clockwork
		meta(name='viewport', content='width=device-width,initial-scale=1')
		link(href='./css/foundation.min.css', rel='stylesheet')
		link(rel='stylesheet', type='text/css', href='./style.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
	body.bgImage
		.loader
			#display
				#date
				#time
				#weekdays
		form(action='/clock', method='POST')
			label(for='setTime')  
			input#setTime(type='time', name='time', value='07:00:00')
			button.button.round(type='submit')  
		//- .spinner
		//- .spinner2
		script(src='./jquery-3.1.1.min.js')
		script(src='./main.js')
