doctype html
html
	title On time In time - Login
	meta(charset='utf-8')
	link(href='./css/foundation.min.css', rel='stylesheet')
	link(href='./index.css', rel='stylesheet')

	body
		div.container

			section.hero
				.row.intro
					.small-centered.medium-uncentered.medium-6.large-7.columns
						h1 On Time, in Time
						p
							| The app which makes sure you'll get out of bed on time!
							br
							|Login with &nbsp
							a(href='/auth/facebook') Facebook, &nbsp
							| your &nbsp
							a.loginform(href='#loginform') username &nbsp
							| or Sign up &nbsp
							a.registerform(href='#registerform') here!
					.small-centered.medium-uncentered.medium-6.large-5.columns
						.tech-img
						br
						a.align-right(href='#openModal') FAQ

		div.row.divregister
				div.medium-6.columns.end.large-offset-3
					div.card.float-center.cardcenter
						div.content
						span.title.cardcenterh1 On time In Time Register form
						p Please register 

						form(method='POST', action='/sign', autocomplete="off")
							Label(for="name") Name 
							input(name="name", type="text", id="name" placeholder="First Name")
							Label(for="email") Email 
							input(name="email", type="email", id="email" placeholder="Email adress")
							Label(for="password") Password 
							input(name="password", type="password", id="password" placeholder="Password")
							Label(for="phone") Phone 
							input(name="phone", type="text", id="phone" placeholder="Phones")
							input(type="submit", value="Submit")
							p= message

		div.row.divlogin
			div.medium-6.columns.end.large-offset-3
				div.card.float-center.cardcenter
					div.content
					span.title.cardcenterh1 On time In Time 
					p Please log-in

					form(name="myForm" method='POST', action='/login', autocomplete="off" onsubmit="return validateForm()")
						Label(for="email") Email 
						input(name="email", type="email", id="email" placeholder="Email adress")
						Label(for="password") Pasword 
						input(name="password", type="password", id="password" placeholder="Secrate")
						input(type="submit", value="Submit")
						p= message

	div#openModal.modalDialog
		div
			a.close(href='#close', title='Close') X
			h2 Frequently Ask Questions 
			br
			p The On time In Time Web application is a SMART ALARM
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



script(type='text/javascript', src='./jquery-3.1.1.min.js')
script(type='text/javascript', src='./js/vendor/foundation.min.js')
script(type='text/javascript', src='/main.js')



