doctype html
html
	title On time In time
	meta(charset='utf-8')
	link(href='./css/foundation.min.css', rel='stylesheet')
	link(href='./index.css', rel='stylesheet')

	body.indexbg
		div.row
			div.medium-6.columns.end
				div.card
					div.content
					span.title Robert Frost
					p
						| Two roads diverged in a yellow wood,	 And sorry I could not travel both	 And be one traveler, long I stood	 And looked down one as far as I could	. To where it bent in the undergrowth;
					div.action
						a(href='#') This is a link
						a(href='#') This is a link


	script(type='text/javascript', src='static/jquery-3.1.1.min.js')
		
	script(type='text/javascript', src='static/js/foundation.min.js')

	script(type='text/javascript', src='static/index.js')
	