/*
////////////////////////////////////////////
 THIS IS THE SECTION FOR THE DIGITAL CLOCK
////////////////////////////////////////////
*/

/* partent element of the timer div and the display div. The loader is ONLY for the outside of the clock*/
.loader {
	border: 15px solid hsla(194, 100%, 38%, 1);
	border-radius: 100%;
	width: 400px;
	height: 400px;
	

}

#date {
	font-size: 1.4em;
	color: hsla(360, 100%, 100%, 0.75);
	font-family: arial;
	padding-top: 140px;
	text-align: center;
	

}


/* this part is purely for the numbers that are displayed it is linked with a javascript file */
#time {
	font-size: 5em;
	color: hsla(360, 100%, 100%, 0.75);
	font-family: arial;
	text-align: center;
	

	
}

#weekdays {
	font-size: 2em;
	color: hsla(360, 100%, 100%, 0.75);
	font-family: arial;
	text-align: center;
	
}

/* this part is the display of the clock or the background if you will*/
#display {
	background: -moz-linear-gradient(45deg, hsla(222,26%,33%,1) 0%, hsla(222,26%,33%,1) 100%); /* Firefox */
	background: -webkit-linear-gradient(45deg, hsla(222,26%,33%,1) 0%,hsla(222,26%,33%,1) 100%); /* chrome & safari*/
	background: linear-gradient(45deg, hsla(222,26%,33%,1) 0%,hsla(222,26%,33%,1) 100%); /* safari, chrome, firefox, opera*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	width: 400px;
	height: 400px;
	border-radius: 100%;

	
}